.site-main__directors {
    background-image: url("../../images/Group\ 8\ Copy\ +\ Group\ 8\ Mask.svg");
    background-repeat: no-repeat;
    background-position: top center;
    padding-top: 140px;
    padding-bottom: 168px;
}

.directors__title {
    color: var(--main-text-color);
    @include title-text-null;
    margin-bottom: 64px;
    @include fonts(700, 48px, 48px);
    text-align: center;
}

.directors__list {
    display: flex;
    @include list-style;
    flex-wrap: wrap;
    column-gap: 30px;
    row-gap: 76px;
}

.card {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 350px;
    height: 253px;
    padding: 32px 24px 56px;
    background-color: #012f34;
}

.card::after {
    position: absolute;
    bottom: -27px;
    width: 54px;
    height: 54px;
    background-image: url("../../images/Combined\ Shape.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 16px 16px;
    background-color: #f67e7e;
    content: "";
    border-radius: 50%;
}

.card:last-child:after {
    background-image: url("../../images/Combined\ Shape\ \(1\).svg");
    background-color: #79c8c7;
    content: "";
}

.card__img {
    width: 96px;
    height: 96px;
    margin-bottom: 16px;
}

.card__name {
    color: #79c8c7;
    text-align: center;
    @include fonts(700, 18px, 28px);
}

.card__span {
    color: var(--main-text-color);
    text-align: center;
    @include fonts(500, 15px, 25px);
    font-style: italic;
}

.card__text {
    padding: 0 24px;
    color: var(--main-text-color);
    margin-bottom: 24px;
    text-align: center;
    @include fonts(600, 15px, 25px);
}