.site-header {
    padding-top: 77px;
    padding-bottom: 77px;
    background-color: #014e56;
}

.site-header__inner {
    @include flexbox(row, null, center);
}

.logo-link {
    display: inline-block;
    margin-right: 80px;
    transition: color 0.5s ease;
}

.logo-link:active {
    opacity: 0.25;
}

.nav__list {
    @include flexbox(row, null, center);
    column-gap: 40px;
    @include list-style;
}

.nav__link {
    color: var(--main-text-color);
    font-size: 18px;
    font-weight: 600;
    line-height: 28px;
    text-decoration: none;
    transition: color 0.5s ease;
}

.nav__link:hover {
    color: #f67e7e;
}

.nav__link:active {
    color: #f67e7e;
    opacity: 0.25;
}

.site-header__join-link {
    padding: 9px 33px 11px 32px;
    border-radius: 24px;
    border: 2px solid var(--main-text-color);
    text-decoration: none;
    display: inline-block;
    margin-left: auto;
    color: var(--main-text-color);
    @include fonts(600, 18px, 28px);
    transition: all 0.5s ease;
}

.site-header__join-link:hover {
    color: #002529;
    background-color: #fff;
}

.site-header__join-link:active {
    color: #fff;
    background-color: transparent;
    opacity: 0.25;
}